<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <table>
                <tr>
                    <td><label for="username_reciver">Username người nhận:</label></td>
                    <td><input type="text" name="username_reciver" id="username_reciver"></td>
                </tr>

                <tr>
                    <td><label for="file">File:</label></td>
                    <td><input type="file" name="file" id="file"></td>
                </tr>
                <tr>
                    <td><label for="message">Message:</label></td>
                    <td><textarea name="message" id="message" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Gửi"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>