<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            margin: 0;
            padding: 0;
        }
    </style>
    <script th:inline="javascript">
        var successMessage = [[${message}]];
        function check(message) {
            if (successMessage === "SUCCESS") {
                alert("Gửi file thành công");
            } else {
                alert("Gửi file thất bại");
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <form action="/sendfile" method="post">
            <table>
                <tr>
                    <td>File path: </td>
                    <td><input type="text" name="filepath" id="filepath"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Gửi file" onclick="check()"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>