<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/sendfile.css}">

    <script th:inline="javascript">
        var message = [[${message}]];
        console.log(message);
        if(message == "SUCCESS") {
            alert("Đã gửi file thành công!");
        }
        else if(message == "FAIL"){
            alert("Gửi file thất bại!");
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Send file to server</h1>
        <form action="/sendfile" method="post">
            <label for="target_dir">Set directory:</label>
            <input type="text" name="target_dir" id="target_dir">
            <label for="filepath">File path:</label>
            <input type="text" name="filepath" id="filepath">
            <input type="submit" value="Upload File">
        </form>
    </div>
</body>
</html>